<% include ../header.ejs %>
<div class="container" id="masonry_container">

    <% images.forEach(function(image){ %>
    <div class="masonry-grid">
        <!--<a href="/images/<%#= image.id %>">-->
        <% if(image.thumbnail){ %>
        <img src="/uploads/<%= image.thumbnail %>">
        <% } %>
        <div>
            <!--<%#= image.title %><br/>-->
            created at <%= image.username %>(
            <%= image.getDate.year %>.
            <%= image.getDate.month %>.
            <%= image.getDate.day %>
            )
        </div>
        <div class="textField">
            <%= image.answer %>
            <br>
            <%= image.user_answer %>
        </div>
        <!--</a>-->
    </div>
    <% }); %>
</div>
<br><br><br>
<p class="container text-center" style="font-size:120%">
    <u><strong>순서 : 사진 → 정답 → 사용자입력</strong></u>
</p>
<br>
<style type="text/css">
    .masonry-grid img {
        max-width: 260px;
    }
    .textField {
        max-width: 260px;
    }
</style>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript">
    let $masonry_container = $('#masonry_container');
    $masonry_container.imagesLoaded(function () {
        $masonry_container.masonry({
            itemSelector: '.masonry-grid',
            columnWidth: 270
        });
    });
</script>
<% include ../footer.ejs %>